$bg: #f1f1f3;
$panel-bg: #fff;
$accent: #1e73c6;
$green-1: #7be28a;
$green-2: #18a049;
$green-3: #28c76f;
$red-1: #ffb3b3;
$red-2: #ff6b6b;
$muted: #666;
$border-color: #ddd;
$base-color: #333;
$x-axis-color:#6b6b6b;
$x-scale-color: #555;
$chart-container : rgba(0, 0, 0, 0.06) 1px;

$y-axis-w: 60px;
$chart-height: 500px;
$x-axis-h: 30px;
