@use "../abstracts/variables" as *;

.container {
  display: flex;
}

.Info {
  width: 50%;
  padding: 60px;
  margin: 80px 90px;
}

.Header2 {
  justify-self: center;
}

#para {
  color: $text-light;
  justify-self: center;
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;

  img {
    width: 450px;
    max-width: 100%;
    margin: 40px 40px 40px 400px;
  }
}

.colorpara {
  color: $text-light;
  font-size: medium;
}

.container4 {
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 250px;
    max-width: 100%;
  }
}

.Header4 {
  height: 500px;
  background-color: $background2;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  text-align: center;
}

.heading {
  p {
    color: #6b7280;

    b {
      color: black;
    }
  }
}
