@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

@use "base/reset";
@use "base/typography";
@use "base/global";

@use "layout/header";
@use "layout/containers";
@use "layout/footer";

@use "components/form";
@use "components/buttons";
@use "components/course-card";
@use "components/badge";
@use "components/stats";


@use "responsive/media-queries";
