@use "../abstracts/variables" as *;

.TopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: $background;
  border-bottom: 2px solid lighten($text-light, 40%);
}

.academy {
  color: $primary-color;
}

.SubHeader1 {
  display: flex;
  gap: 24px;

  a {
    text-decoration: none;
    color: $text-dark;
    font-weight: 500;
  }
}
