@use "../abstracts/variables" as *;

.main-panel {
  flex: 3;
  background: $panel-bg;
  border: 1px solid #ddd;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.side-panel {
  flex: 1;
  background: $panel-bg;
  border: 1px solid #ddd;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
