* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--text);
  background: var(--bg-1);

  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.45;
}